body {
    font-family: 'Roboto';
    padding-left: 20em;
    padding-top:20em ;
    padding-bottom:20em;
    padding-right: 20em;
}
#home {
  color: rgb(236, 38, 38);
  }   
h1{
    text-align: center;
    
}

#line {
    display: inline;
    
 }

img {
    width : 400px;
    height : 400px;
    float: right;
    vertical-align: top;
    display: flex;
}
h2{
    color: rgb(7, 27, 143);
    text-align: center;
}
#about{
    display:block; 
}
.button {
    border-radius: 15px;
  }
  #work {  
    font-weight: bold;
    background-color: #ece2e2;
       padding: .5em;

    }
    #tabe{
        text-align: center;
        
    }
    #contact {  
    font-weight: bold;
    background-color: rgb(236, 255, 256);
    padding: 5em;
    } 
    footer{
        text-align: center;
        background-color: black;
        color :#ece2e2;
    }